
<div class="form-group row">
    <div class="col-md-12">
        <span class="homarr-input-group input-group">
            <input class="form-control homarr-input" required type="text" name="type" [(ngModel)]="item.type" />
            <label>Type</label>
        </span>
    </div>
</div>

<div class="form-group row">
    <div class="col-md-12">
        <span class="homarr-input-group input-group">
            <input class="form-control homarr-input" required type="text" name="name" [(ngModel)]="item.name" />
            <label>Name</label>
        </span>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-md-3">Picture</label>

    <div class="col-md-9">        
        <image-upload (onImageUploaded)="onImageUploaded($event)"></image-upload>
    </div>
</div>

<div class="form-group-row">

    {{item | json}}


    <button class="btn btn-danger">Cancel</button>
    <button class="btn btn-success" (click)="addItem()">Add Item</button>
</div> 