
<style>

.form {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.form mat-form-field,
.form image-upload,
.form button,
.form div {
    flex: 0 0 auto;
}

</style>

<div class="form">
    <mat-form-field>
        <input matInput type="text" placeholder="Type" [(ngModel)]="item.type" />
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="Name" [(ngModel)]="item.name" />
    </mat-form-field>
    
    <image-upload (onImageUploaded)="onImageUploaded($event)"></image-upload>

    <div>        
        {{item | json}}
    </div>
    
    <button mat-raised-button color="primary" (click)="addItem()">Add Item</button>
</div>
