
<barcode-scanner (onDetected)="onBarcodeDetected($event)"></barcode-scanner>

<div id="found-items" class="row" *ngIf="isLookupComplete">
    <div class="col-md-12">
        <h4>Possible Matches</h4>
    </div>

    <div class="col-xl-4">
        <div class="card text-xs-center" [ngClass]="{ 'card-outline-primary': doAddNewItem }" (click)="startAddNewItem()">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    Add New Item
                </blockquote>
            </div>
        </div>
    </div>
    
    <div class="col-xl-4" *ngFor="let item of items | async | slice:0:2" (click)="selectItem(item)">
        <div class="card text-xs-center" [ngClass]="{ 'card-outline-primary': isItemSelected(item) }">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    {{item | json}}
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div id="add-item" *ngIf="doAddNewItem">
    <add-item [barcode]="barcode" (onItemAdded)="onItemAdded($event)"></add-item>
</div>

<div id="add-item-instance" *ngIf="doAddNewItemInstance">
    <item-actions item="selectedItem"></item-actions>
</div>