<div style="display: flex; flex-direction: column; padding: 12px">

    <mat-form-field style="flex: 1 1 auto">
        <input matInput type="text" placeholder="Barcode" #barcode />
        <i matSuffix #scanBtn class="fa fa-barcode"></i>
    </mat-form-field>

    <div style="text-align: center" *ngIf="isScanning">
        <mat-form-field>
            <mat-label>Device</mat-label>
            <mat-select [(value)]="chosenDevice">
                <mat-option *ngFor="let device of devices" [value]="device">
                {{device.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <zxing-scanner [formats]="['QR_CODE', 'EAN_13', 'CODE_128']" 
            [device]="chosenDevice" 
            (camerasFound)="onCamerasFound($event)" 
            (scanSuccess)="handleDetection($event)" 
            (scanComplete)="logEvent($event);">
        </zxing-scanner>
    </div>
</div>