<div class="form-group row">
    <label class="col-form-label col-md-3">Barcode</label>

    <div class="col-md-9">
        <span class="input-group">
            <input class="form-control" type="text" #barcode (keyup)="addItem(barcode.value)">
            <span class="input-group-btn">
                <button #scanBtn class="btn btn-default"><i class="fa fa-barcode"></i> Scan</button>
            </span>
        </span>
    </div>
</div>
<div class="form-group row" [hidden]="!isScanning" style="text-align: center">
    <div id="quagga">
    </div>
</div>