.homarr-logo {
    font-size: 1.5em; 
    padding-top: 0; 
    padding-bottom: 0;
}

.homarr-fab {

    position: absolute;
    right: 24px;
    bottom: 24px;
    width: 56px;
    height: 56px;
    padding: 16px 0;
    cursor: pointer;

    text-align: center;
    background-color: red;
    color: white;
    border-radius: 28px;
    box-shadow: 3px 3px 3px #ccc;

    i {
        font-size: 24px;
    }
}

#homarr-sheet-right {
    position: absolute; 
    right: 0; 
    top: 0; 
    z-index: 10000; 
    height: 100%;

    #homarr-sheet-right-overlay {
        background-color: rgba(0, 0, 0, 0.1);
        height: 100%;
    }

    #homarr-sheet-right-content {
        height: 100%;
        background-color: white;
        padding-left: 0;
        box-shadow: 0 0 2px 2px #ccc;

        .homarr-sheet-header {
            background-color: red;
            color: white;
            padding: 24px;
            box-shadow: 0 3px 3px #ccc;

            .homarr-sheet-title {

                margin-bottom: 0;
                font-weight: normal;
                font-size: 24px;

                .homarr-sheet-return-button {
                    padding-right: 24px;
                    cursor: pointer;
                }
            }

        }

        .homarr-sheet-body {
            padding: 8px 24px;
        }
    }

}

.navbar.navbar-dark {

    box-shadow: 0 3px 3px #ccc;

    .nav-item {
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 3px;
        margin-bottom: -8px;

        &.active {
            border-bottom: 3px solid red;
        }
    }
}

.homarr-big-nav {

    .homarr-big-nav-item {
         color: #FFFFFF;
         padding: 30px;
         text-align: center;
         cursor: pointer;
    }

}