
  <mat-toolbar color="primary" style="position: fixed; top: 0; width: 100%;">
    <span>[h]</span>
    
    <a class="nav-link" href="#">Inventory</a>
  </mat-toolbar>

  <div style="padding-top: 64px; height: 100%;">
  <mat-sidenav-container style="height: 100%">
    <mat-sidenav-content>
      <item-list></item-list>
      
      <button mat-fab class="homarr-fab" (click)="sidenav.toggle()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-sidenav-content>

    <mat-sidenav #sidenav mode="over" position="end" fixedInViewport style="width: 400px">
      <div class="homarr-sheet-header">
        <h4 class="homarr-sheet-title">
          <mat-icon (click)="sidenav.toggle()">keyboard_backspace</mat-icon>
          Add Item
        </h4>
      </div>
      <div class="homarr-sheet-body">
        <item-lookup></item-lookup>
      </div>
    </mat-sidenav>

  </mat-sidenav-container>
</div>
