<div class="container-fluid">
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">
      <i class="fa fa-shopping-cart"></i> Shopping
    </a>
  </nav>

  <section id="main" style="padding-top: 54px">
    <div class="row">
      <div class="col-md-6">

        <div id="quagga">
        </div>

      </div>
      <div class="col-md-6">

        <input type="text" #barcode (keyup)="addItem(barcode.value)">

        Barcodes
        <ul>
          <li *ngFor="let barcode of barcodes">
            {{barcode | json}}
          </li>
        </ul>
      </div>
    </div>
  </section>

</div>